<h2 class="section-title">{{ .titles.about }}</h2>

<p itemprop="description">We are happy to announce the eCOTS 2018 Regional Conference at Eastern Kentucky University (EKU). This is a one-day gathering to enhance <a href="https://www.causeweb.org/cause/ecots/ecots18" target="_blank">eCOTS 2018</a>, the biennial electronic meeting of USCOTS, the United States Conference on the Teaching of Statistics.</p>

<p>The eCOTS Regional Conference is set for May 25, 2018, on the campus of Eastern Kentucky University in Central Kentucky. We receive sponsorship from USCOTS on a per-attendee basis, so participants should select the regional conference at EKU when they <a href="https://www.causeweb.org/cause/ecots/ecots18" target="_blank">register for eCOTS</a>.</p>

<h4>Getting There</h4>

<p>The Conference will be held in Quad B of Perkins Hall on the camus of EKU (address: 4436 Kit Carson Drive, Richmond, KY).  The Google Map below shows our location.</p>


<p>To obtain an electronic campus map as well as directions to various campus locations, download and utilize the LiveSafe app <a href="http://conferencingandevents.eku.edu/safety-apps-directions-livesafe-emergency-notifications" target="_blank">here</a></p>.

<h4>Contact</h4>

<p>For further information email <a href="mailto:lisa.kay@eku.edu" target="_blank">Lisa Kay</a>, the conference organizer.<p>
